.secsec{
    height: 700px;
    background-color: white;
    position: relative;
}
.secsectop{
    width: 100%;
    text-align: center;
}
.secsech{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #333;
    margin-top: 90px;
    font-size: 34px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}
.icon{
    color: #41cb52;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: -10px ;
}
.secsecbottom{

   display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
    
}
#lorem{
    word-spacing: 1px;
    text-align: center;
    width: 65%;
    margin: auto;
    padding: 0 10px;
    line-height: 25px;
    font-size: 15px;
    color: #666;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}
.col{
    
    display: flex;
    line-height: 1.8;
    word-spacing: 1px;
    color: #666;
    text-align: center;
    margin-top: 20px !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 13px !important;
   
}
.rowo{
    display: flex;
    line-height: 25px;
    word-spacing: 1px;
    color: #333;
    font-weight: 900;
    font-size: 25px;
     font-family: 'Raleway', sans-serif;
     margin: 20px 26% 15px; 
    
  
}
.colone{
    width: 26%;
    border-bottom: 1px solid #eee;
    padding-bottom: 50px;
    border-top: 1px solid #eee;
    padding-top: 50px;
    margin-top: 100px;
    text-align: center;
}
.iconbag{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
    z-index: 1;
    margin-top: 50px;
    position: absolute;
    font-size: 30px;
    color: white;
    transition: .3s;
    border: white solid 1px;
     
}
.ic{background-color: #41cb52;
    padding: 30px 30px;
    border-radius: 50%;
    /* border: #36cc488a solid 3px;  */
    box-shadow:  5px #41cb52 ;

}
  




  

